/************************************/
/*	          Login					*/
/************************************/

body {
	background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(36,36,178,1) 0%, rgba(36,36,178,1) 9%, rgba(36,36,178,1) 49%, rgba(36,36,178,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(0%, rgba(36,36,178,1)), color-stop(9%, rgba(36,36,178,1)), color-stop(49%, rgba(36,36,178,1)), color-stop(100%, rgba(36,36,178,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(36,36,178,1) 0%, rgba(36,36,178,1) 9%, rgba(36,36,178,1) 49%, rgba(36,36,178,1) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(36,36,178,1) 0%, rgba(36,36,178,1) 9%, rgba(36,36,178,1) 49%, rgba(36,36,178,1) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(36,36,178,1) 0%, rgba(36,36,178,1) 9%, rgba(36,36,178,1) 49%, rgba(36,36,178,1) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(36,36,178,1) 0%, rgba(36,36,178,1) 9%, rgba(36,36,178,1) 49%, rgba(36,36,178,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#2424b2', GradientType=1 );
   	
    font-family: "Helvetica Neue", Helvetica, Arial;
    padding-top: 30px;
}

.container-login {
    width: 390px;
    max-width: 390px;
    margin: 0 auto;
}

.login{
	
    padding: 0px 5px 5px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
    width: 80px;
    max-width: 80px
}

.login .header {
	width: 100px;
    max-width: 100px;

    height: 200px;
    max-height: 200px;
    margin-bottom: 20px;
}

.login .sep {
    height: 1px;
    background: #e8e8e8;
    width: 360px;
    margin: 0px -1px;
}

.login .errors{
	color: #da4a4a;
    font-size: 10px;
    margin-top: -15px;
    margin-left: 25px;
    letter-spacing: 1px;
}

.login .inputs {
    margin-top: 25px;
    margin-left: 20px;
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
    font-size: x-small;
}

input:-moz-placeholder {
    color:    #b5b5b5;
    font-size: small;
}

.login .inputs input[type=text], input[type=password] {
    background: #f5f5f5;
    font-size: small;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 12px 10px;
    width: 300px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

.login .inputs input[type=text]:focus, input[type=password]:focus {
    background: #fff;    
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   
}

.login .inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

.login .inputs #submit:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
}